@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f2f4f8;
  margin: 0;
  box-sizing: border-box;
}
/* From uiverse.io by @mrhyddenn */
.loader {
  position: relative;
  top: 45vh;
}

.loader span {
  position: absolute;
  color: #33f82c;
  transform: translate(-50%, -50%);
  font-size: 35px;
  letter-spacing: 5px;
}

.loader span:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 0.3px rgb(68, 255, 0);
}

.loader span:nth-child(2) {
  color: rgb(68, 255, 0);
  -webkit-text-stroke: 1px rgb(68, 255, 0);
  animation: uiverse723 3s ease-in-out infinite;
}

@keyframes uiverse723 {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      15% 44%,
      32% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      16% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
.expenseHead {
  background: #fff;
  padding: 20px 0;
  border-radius: 15px;
  width: 300px;
  margin: 0 auto;
}
.balance {
  font-size: medium;
  font-weight: bold;
}
.expenseHead button {
  color: #fff;
  background: #33f82c;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 5px;
  cursor: pointer;
}
.closeBtn {
  position: absolute;
  padding: 6px;
  border-radius: 50%;
  top: 0;
  right: 30%;
  background-color: #ef0901ee;
  margin: 0 auto;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
}
.debitForm {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.debitForm input,
.debitForm button {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 8px 5px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #33f82c;
}
.debitForm button {
  background-color: #33f82c74;
  border: 1px solid #33f82c;
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
}
.transAmount {
  font-size: small;
  font-weight: bold;
}

.transDiv {
  padding: 10px 20px;
  border-radius: 5px 0 0 5px;
  max-width: 320px;
  display: flex;
  flex: row;
  justify-content: space-between;
  background: #fff;
  margin: 0 auto;
  list-style: none;
  margin-bottom: 8px;
}
.transList {
  margin-top: 30px;
}
@media (max-width: 600px) {
  .closeBtn {
    right: 10%;
  }
}
